<% content_for :title, "Edit Website" %>

<div class="d-flex justify-content-end mb-3">
  <%= link_to "Back to Websites", root_path, class: "btn btn-outline-secondary back-button" %>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">
    <h1 class="h3 mb-3 dark-header"><%= "Edit Website" %></h1>
    <div class="card shadow-sm">
      <div class="card-body">
        <%= render "form", website: @website %>
      </div>
    </div>
  </div>
</div>
