body.login-page {
  background-image: url("/assets/mountain_lake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
}

body.login-page .container {
  height: 100%;
  align-content: center;
}

body.login-page .card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
}

body.login-page .social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}

body.login-page .social_icon span:hover {
  color: white;
  cursor: pointer;
}

body.login-page .card-header h3 {
  color: white;
}

body.login-page .social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

body.login-page .input-group-prepend span {
  width: 50px;
  background-color: #FFC312;
  color: black;
  border: 0 !important;
}

body.login-page input:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 !important;
}

body.login-page .remember {
  color: white;
}

body.login-page .remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

body.login-page .login_btn {
  color: black;
  background-color: #FFC312;
  width: 100px;
}

body.login-page .login_btn:hover {
  color: black;
  background-color: white;
}

body.login-page .links {
  color: white;
}

body.login-page .links a {
  margin-left: 4px;
}
